{% extends 'base.html.twig' %}

{% block title %}Appointment index{% endblock %}

{% block body %}
    <h1>Appointment index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>StartAt</th>
                <th>Status</th>
                <th>Notes</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for appointment in appointments %}
            <tr>
                <td>{{ appointment.id }}</td>
                <td>{{ appointment.startAt ? appointment.startAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ appointment.status }}</td>
                <td>{{ appointment.notes }}</td>
                <td>
                    <a href="{{ path('app_appointment_show', {'id': appointment.id}) }}">show</a>

{% if appointment.status == 'scheduled' %}
    <a href="{{ path('app_appointment_edit', {'id': appointment.id}) }}">edit</a>
    {{ include('appointment/_delete_form.html.twig') }}
{% endif %}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_appointment_new') }}">Create new</a>
{% endblock %}
